
img{
    text-align: center;
    margin:  0 auto;
    right: 8%;
    display: flex;
    justify-content: center;
  
}

input{
    width: 300px;
    height: 30px;
}
.search input{
    width: 300px;
    height: 30px;
    margin-left: 38%;
    display: inline-block;
    border-radius: 15px;
}


